<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>

<body bgcolor="cyan">
    <form action="register" method="post">
        {% csrf_token %}
         <input type="text" name="name" placeholder="enter your name here"><br>
         <input type="text" name="user_name" placeholder="enter your user_name here"><br>
         <input type="text" name="phone_number" placeholder="enter your phone no here"><br>
         <input type="email" name="email" placeholder="enter your email here"><br>      
         <input type="text" name="gender" placeholder="choose your gender from here"><br>
         <input type="text" name="age" placeholder="Enter your age here"><br>
         <input type="text" name="therapist" placeholder="choose your therapist from here"><br>      
         <input type="password" name="password1" placeholder="enter your password here"><br>
         <input type="password" name="password2" placeholder="confirm password"><br>      
         <input type="submit">
    </form>
    <div>
        {% for message in messages %}
        <h3> {{message}}  </h3>
        {% endfor %}
    </div>

</body>

</html>